.post-info {

}

.thread-line {
    width: 1px;
    background-color: #dfdfdf;
    position: absolute;
    top: 60px;
    left: 24.5px;
    bottom: 0;
}

.reply:not(:first-child) {
    margin-top: 1rem;
}

img {
    border: 2px solid #dfdfdf;
}